{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>b4solid</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body class="">
	<header class="fixed flex z-10 w-screen justify-center bg-white">
		{% include 'header.html' %}
	</header>

	{% block content %}
	{% endblock %}

	<footer>
		{% include 'footer.html' %}
	</footer>
</body>
<script>
	var message_ele = document.querySelector(".message");

	setTimeout(function () {
		message_ele.remove();
	}, 1000);
</script>

</html>