{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="h-screen flex flex-col items-center py-36 px-96">
  <p class="text-7xl font-bold">Manage Transactions</p>
  <div class="flex flex-col items-start py-20 w-full space-y-4">
    <div class="rounded-md border-2 border-zinc-200 w-full" method="post">
      <table class="w-full divide-y divide-zinc-200 table-fixed">
        <thead>
          <tr>
            <th scope="col" class="px-6 py-3 text-start font-bold w-36">ID</th>
            <th scope="col" class="px-6 py-3 text-start font-bold w-36">Voucher ID</th>
            <th scope="col" class="px-6 py-3 text-start font-bold w-96">Timestamp</th>
            <th scope="col" class="px-6 py-3 text-start font-bold w-36">Total</th>
            <th scope="col" class="px-6 py-3 text-start font-bold w-40">Status</th>
            <th scope="col" class="px-6 py-3 text-start font-bold w-36"></th>

          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <form method="post">
          {% csrf_token %}
          <tr class="border-t-2 ">
            <td class="px-6 py-4 whitespace-nowrap text-sm border-0 overflow-hidden">{{ transaction.id_label }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm border-0 overflow-hidden">
              {% if transaction.voucherId is None %}
              <span>-</span>
              {% else %}
              {{ transaction.voucher_label }}
              {% endif %}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm border-0 overflow-hidden">{{ transaction.transactionDate }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm border-0 overflow-hidden">{{ transaction.totalAmount }}</td>
            <form method="post">
            {% csrf_token %}
            <td class="px-6 py-4 whitespace-nowrap text-sm border-0 overflow-hidden">
              <input type="text" name="transactionId" hidden value="{{ transaction.id }}">
              <select name="status" class="border-zinc-400 border-2 rounded-md bg-zinc-100 h-10">
                <option value=None {% if transaction.status == None %} selected {% endif %}>Unverified</option>
                <option value="Verified" {% if transaction.status == 'Verified' %} selected {% endif %}>Verified</option>
                <option value="Rejected" {% if transaction.status == 'Rejected' %} selected {% endif %}>Rejected</option>
                <option value="Processing" {% if transaction.status == 'Processing' %} selected {% endif %}>Processing</option>
                <option value="Completed" {% if transaction.status == 'Completed' %} selected {% endif %}>Completed</option>
              </select>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm border-0 overflow-hidden">
              <button class="bg-indigo-600 text-white px-4 py-1 rounded-md font-bold h-10" type="submit"">Update</button>
            </td>
            </form>
          </tr>
          </form>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}